
/* import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}


/* Home Page */

/* Navbar */

li, a, button {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

header {
    justify-content: flex-end;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 10%;
}

.logo {
    margin-left: 30px;
    color: white;
    margin-right: auto;
    text-transform: uppercase;
    font-weight: bolder;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #bc13fe,
    0 0 82px #bc13fe,
    0 0 92px #bc13fe,
    0 0 102px #bc13fe,
    0 0 151px #bc13fe;
    font-size: 1.5rem;
    animation: pulsate 1.5s infinite alternate;  
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    padding: 0.4em;
    box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #bc13fe,
            0 0 0.8rem #bc13fe,
            0 0 2.8rem #bc13fe,
            inset 0 0 1.3rem #bc13fe; 

}

.navlinks {
    list-style: none;
}

.navlinks li {
    display: inline-block;
    padding: 0px 20px;
}

.navlinks li a{
    transition: all 0.3s ease 0s;
}

.navlinks li a:hover {
    color: #bc13fe;
    text-decoration: underline;
}

/* End of Navbar */


/* ComputerImg + Text */


.content p {
    color: #bc13fe;
}

.content h1 {
    text-transform: uppercase;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.content button {
    margin-left: 5px;
    margin-top: 10px;
}

.textcontent {
    margin-left: 40px;
}

.computer {
    max-width: 100%;
    min-width: 40%;
}


/* End of ComputerImg + Text */


/* Mini About Description */

.aboutdesc {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.textcontent2 p{
    color: #bc13fe;
}

.textcontent2 {
    font-size: larger;
    justify-content: flex-start;
    
}

.aboutimg img{
    padding: 40px;
    max-width: 30%;
    min-width: 20%;
    opacity: 0.3;
    cursor: pointer;
    transition: all 0.3s ease;
}

.aboutimg img:hover{
    opacity: 1;
}

.textcontent2 button{
    margin-left: 0;
}

/* End of Mini About Description  */


/* Footer */

.footercontent {
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
    padding-top: 40px;
    flex-wrap: wrap;
    background-color: white;
    color: black;
}

.info h3{
    text-decoration: underline;
}

.socialmedia h3{
    text-decoration: underline;
}

.card {
    width: fit-content;
    height: fit-content;
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
  }
  
  /* for all social containers*/
  .socialContainer {
    width: 52px;
    height: 52px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
  }
  /* instagram*/
  .containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
  }
  /* twitter*/
  .containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
  }
  /* linkdin*/
  .containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
  }
  /* Whatsapp*/
  .containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
  }
  
  .socialSvg {
    width: 17px;
  }
  
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  

/* End of Footer */


/* End of Home Page */


/* About Page */

.aboutmecontent1 p {
  color: #bc13fe;
}

.aboutmecontent1 {
  text-align: center;
  font-size: large;
}

.biography {
  font-size: large;
  margin-top: 80px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.expertise {
  text-align: center;
}

.expertise p{
  color: #bc13fe;
  font-size: large;
}

.expertiseimages {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  
}

.abtmecontent2 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 90px;
}

.abtmecontent2 h3{
  color:#bc13fe;
}

/* My Table */

.schedule {
 text-align: center;
}

.schedule h3 {
  color: #bc13fe;
}

.mytable {
  display: flex;
  justify-content: center;
}

table {
  color: whitesmoke;
  border-collapse: collapse;
  border: 3px solid #bc13fe;
  font-size: medium;
  text-align: left;
  max-width: 100%;
  min-width: 20%;
}

td {
  padding: 20px;
  border: 3px solid #bc13fe;
  transition: all 0.3s ease;

}

td:hover{
  background-color: #bc13fe;
  border: 3px solid #bc13fe;


}

th {
  padding: 10px;
  background-color: white;
  color: black;
  height: 50px;
  border: 3px solid #bc13fe;

}


/* End of My Table */


/* End of About Page */


/* Contact Me Page */

/* Contact Me Content Part 1 */

.contactheader {
  text-align: center;
  color: #bc13fe;
  margin-bottom: 50px;
}

.videocontent {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.videocontent p {
  text-align: center;
  margin-top: 80px;
}

.contactcontent1 {
  margin-top: 70px;
  text-align: center;
}

.contactcontent1 p {
  letter-spacing: 3px;
}

.contactcontent1 h2{
  text-transform: uppercase;
}

/* End of Contact Me Content Part 1 */


/* Contact Me Content Part 2 */

.contactcontent2 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 150px;
}


#business {
  margin-top: 50px;
}
#money {
  margin-top: 50px
}

/* End of Contact Me Content Part 2 */

/* Form */


/* End of Form */



/* End of Contact Me Page */


/* Response Page */


.response-header {
  text-align: center;
  color: #bc13fe;
}

#name-response {
  color: white;
}

.response-info {
  text-align: center;
  color: #bc13fe;
  font-size: large;
}

#email-response {
  color: white;
}

#number-response {
  color: white;
}

.response-content {
  text-align: center;
  font-size: larger;

}

#title-response {
  color:#bc13fe
}


.return-to-home {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
/* End of Response Page */


/* My Work Page */

/* Memory Game Text */

.memory-game-content {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.memory-game-text {
  text-align: center;
  font-size: larger;
}

.workheader {
  color: #bc13fe;
  text-align: center;
  font-size: larger;
}

/* End of Memory Game Text */




/* Memory Game */

.tiles {
	width: max-content;
	display: grid;
	grid-template-columns: repeat(4, 100px);
	gap: 16px;
	box-sizing: border-box;
}

.tile {
	height: 100px;
	background: lightgrey;
	border: 5px solid #bc13fe;
	cursor: pointer;
}


/* End of Memory Game */


/* Work-In-Progress */ 

.work-in-progress-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top:100px;
  font-size: larger;

}


.cookieimg img {
  /* 155 by 96 */

  width: 100%;
  max-width: 765px;
  height: auto;
}

/* End of Work-In-Progress */ 

/* Testimonials */

/* Header */
.testimonial-header h3 {
  text-align: center;
  font-size: larger;
  text-transform: uppercase;
  padding-top: 50px;
}
/* End of Header */

/* Styling Cards */

.card2 {
  position: relative;
  width: 330px;
  height: 480px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: 0 0 5px #bc13fe,
            0 0 25px #bc13fe,
            0 0 50px #bc13fe,
            0 0 100px #bc13fe;
}

.card2 img {
  width: 100%;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card2:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 5px #bc13fe,
            0 0 25px #bc13fe,
            0 0 50px #bc13fe,
            0 0 100px #bc13fe;
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card2:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #bc13fe;
  font-weight: 700;
}

.card2:hover img {
  scale: 0;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: black;
  line-height: 1.4;
}

/* End of Styling Cards */

.my-testimonials {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 50px;
}


/* End of Testimonials */



/* End of My Work Page */


